.intro {
	background: #fff!important;
	background: #fff !important;
	background: #fff  !important;
}
#firstname {}
* {}
p {}
div, p {}
#main p {}
.selection > p {}
div + p {}
p ~ ul {}
a[target]
a[target="_blank"] {}
[title~="flower"] {}
[class|="top"] {}
[class^="top"] {}
[class$="test"] {}
[class*="te"] {}

a:active {}
p:lang(it) {}
p::first-letter {}
::first-letter {}

@import 'layout.css' (min-width: 50em);
@media print {
	#subID {}
}
@media print, embossed { }
@media (min-width: 30em) and (max-width: 60em) { }
@media print and (color), screen and (color) { }

/* Standard syntax */
@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
