.aaaa #dsa{
	li {}
	.class {}
	#id {}
}

.attributes [name="sa"] { }

#bla .bla {} //space or
#bla.bla {}//no space


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;


@import 'reset';

body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav {
  .ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
@mixin border-radius($radius);
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
	li {

	}
	.ii {

	}
}


.box { @include border-radius(10px); }
::first-char {}
[attr="value"] {}
