.aaaa #dsa{
	li {}
	.class {}
	#id {}
}

.attributes [name="sa"] { }

#bla .bla {} //space or
#bla.bla {}//no space


@import 'reset';
/* @region Variables */
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;


@import 'reset';

body {
  font: 100% $font-stack;
  color: $primary-color;
}

/* @endregion */
/* @region Nesting */
nav {
  .ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
/* @endregion */
/* @region Mixins */
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
	li {

	}
}
.box { @include border-radius(10px); }
/* @endregion */
/* @region Extend/Inheritance */
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

/* @endregion */
/* @region Operators */
.container { width: 100%; }


.box { @include border-radius(10px); }
::first-char {}
[attr="value"] {}
/* default css */
/* @endregion */
/* @region default_css */
.intro {}
#firstname {}
* {}
p {}
div, p {}
div p {}
div > p {}
div + p {}
p ~ ul {}
a[target]
a[target="_blank"] {}
[title~="flower"] {}
[class|="top"] {}
[class^="top"] {}
[class$="test"] {}
[class*="te"] {}

a:active {}
p:lang(it) {}
p::first-letter {}
::first-letter {}

@import 'layout.css' (min-width: 50em);
@media print {
	#subID {}
}
@media print, embossed { }
@media (min-width: 30em) and (max-width: 60em) { }
@media print and (color), screen and (color) { }
