.intro {}
#firstname {}
* {}
p {}
div, p {}
#main p {}
.selection > p {}
div + p {}
p ~ ul {}
[target] {}
[target=_blank] {}
[target~=flower] {}
[target|=en] {}
a[href^="https"] {}
a[href$=".pdf"] {}
a[href*="google"] {}
a:active {}
p::first-letter {}
p:lang(it) {}
:root {}
::selection {}
#news:target {}


@import 'layout.css' (min-width: 50em);
@media print {
	#subID {}
}
@media print, embossed { }
@media (min-width: 30em) and (max-width: 60em) { }
@media print and (color), screen and (color) { }

/* Standard syntax */
@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
