.blueprint-prefs-dialog {
	clear: both;
}
.blueprint-prefs-dialog li {
	padding: 10px 10px 10px 0;
	/*border-bottom: 1px solid #000;*/
	list-style: none;
}
.blueprint-prefs-dialog .category {
	margin-top: 0px;
}
.blueprint-prefs-dialog .category>h4 {
	float: left;
	margin-bottom: 0px;
	color: #939393;
}
.blueprint-prefs-dialog .category>hr {
	border: 0;
    height: 1px;
	margin: 0px 0 0 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.75), rgba(0, 0, 0, 0.75), rgba(0,0,0,0));
}
.blueprint-prefs-dialog .toggle {
	display: inline-block;
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 10px;
	background-image: url("../media/jsTreeSprites.svg");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 7px -8px;
	-webkit-transform: translateZ(0) rotate(90deg);
	-webkit-transition: -webkit-transform 190ms cubic-bezier(.01, .91, 0, .99);
}
.blueprint-prefs-dialog .toggle.colapsed {
	background-position: 4px -8px;
	-webkit-transform: translateZ(0);
	-webkit-transition: -webkit-transform 90ms cubic-bezier(.01, .91, 0, .99);
}
.blueprint-prefs-dialog .description {
	float: left;
}
.blueprint-prefs-dialog .switch {
	display: inline-block;
	width: 50px;
	float: right;
	border-radius: 15px;
	text-align: center;
}
.blueprint-prefs-dialog .switch.on {
	background: #91cc41;
}
.blueprint-prefs-dialog .switch.off {
	background: #c93c3c;
}
.blueprint-prefs-dialog .switch span{
	border-radius: 15px;
}
.blueprint-prefs-dialog .switch span:first-child{
	color: #000;
}
.blueprint-prefs-dialog .switch span:last-child{
	color: #cccccc;
}
.blueprint-prefs-dialog .switch.off span:first-child {
	display: none;
	/*float: left;*/
}
.blueprint-prefs-dialog .switch.on span:last-child {
	display: none;
	/*float: right;*/
}

.blueprint-prefs-dialog .select select {
	float: right;
}
.blueprint-prefs-dialog .input .value {
	float: right;
}
.blueprint-prefs-dialog .input .value[type="number"] {
	width: 70px;
}







#blueprint-outliner .headline. top-bottons {}
#blueprint-outliner .headline .top-bottons .button {
	float: right;
	width: 20px;
	height: 20px;
}
#blueprint-outliner .headline .top-bottons .button[name="bottom"] { background: url('../media/bottom.png') }
#blueprint-outliner .headline .top-bottons .button[name="right"] { background: url('../media/right.png') }
#blueprint-outliner .headline .top-bottons .button[name="window"] { background: url('../media/max.png') }
#blueprint-outliner .headline .top-bottons .button[name="close"] { background: url('../media/close.png'); margin-right: 5px;  }
#side-panel-right #blueprint-outliner .headline .top-bottons .button[name="right"],
body>#blueprint-outliner .headline .top-bottons .button[name="window"],
#blueprint-bottomPanel #blueprint-outliner .headline .top-bottons .button[name="bottom"] { display: none }


#side-panel-right {
	position: absolute;
	top: 0px;
	right: 30px;
	height: 100%;
	z-index: 18;
	width: 200px;
}
#blueprint-outliner {
	position: relative;
	background-color: rgb(29, 31, 33);
	height: 100%;
	overflow: hidden;
}
#blueprint-outliner .headline {
	position: static;
	white-space: nowrap;
	padding: 3px;
	height: 20px;
	width: 100%;
	border: 1px solid #000;
	border-left: 1px solid #000;
	color: #adb9bd;
	background: #1c1c1e;
	border-bottom: 1px solid #343434;
}
/*headline for bottom panel*/
#blueprint-bottomPanel #blueprint-outliner .headline {
	width: 100%;/* calc(100% - 30px);*/
}
#blueprint-outliner .headline .tab{
	display: inline-block;
	border: 2px solid #343434;
	border-bottom: 0px;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 10px;
	padding: 3px 3px 0px 3px;
}
#blueprint-outliner .headline .active {
	background: #343434;
	border: #000;
}
#blueprint-outliner .headline .minimap {
	/*display: none;*/
}
#blueprint-outliner .content {
	display: block;
	border-left: 1px solid #000;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: calc(100% - 54px);
}
/*content for bottom panel*/
#blueprint-bottomPanel #blueprint-outliner .content {
	width: calc(100% - 30px);
	height: calc(100% - 20px);
}
#blueprint-outliner .content .minimap  {
	height: 100%;
}
#blueprint-outliner .minimap-root .wrap  {
	height: 100%;
}
#blueprint-outliner .content .minimap-overlay {
	position: absolute;
	z-index: 300;
	width: 100%;
	background-color: rgba(95, 95, 95, 0.35);
}
#blueprint-outliner .content .minimap-root {
	position: relative;
	top: 0px;
	width: 100%;
	zoom: 25%;
	/*-webkit-transform-origin: top left;
	-webkit-transform: scale(0.25);*/
	word-wrap: normal;
	word-break: normal;
	white-space: pre;
	overflow: hidden;
	padding: 0;
	line-height: 20px;
	padding: 15px 0;
	tab-size: 4;
	background: transparent;
	border: none;
	font-family: "SourceCodePro-Medium", "ＭＳ ゴシック", "MS Gothic", monospace;
	height: auto;
}
#blueprint-outliner .footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
    width: 100%;
	height: 25px;
	font-family: 'SourceSansPro',Helvetica,Arial,"Meiryo UI","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size: 11px;
	line-height: 25px;
	overflow: hidden;
	/*from style*/
	background: #1c1c1e;
	border-top: 1px solid #343434;
	border-left: 1px solid #343434;
	color: #ccc;
}
/*footer for bottom panel*/
#blueprint-bottomPanel #blueprint-outliner .footer {
	height: calc(100% - 28px);
	width: 30px;
	left:auto;
	right: 0px;
	float: right;
}
#blueprint-outliner .footer .button {
	width: 20px;
	height: 20px;
	overflow: hidden;
	margin: 2px 2px 2px 2px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: center;
	opacity: 0.8;
	float: right;
}
#blueprint-outliner .footer .outline-buttons {
	float: right;
}
#blueprint-outliner .footer .button.prefs {
	background-image: url("../media/settings.svg");
}
#blueprint-outliner .footer .button.sort {
	background-image: url('../media/az.png');
}
#blueprint-outliner .outline-root {
    list-style: none;
	padding: 3px;
	margin: 0px;
	color: #cccccc;
	font-size: 15px;
	cursor: default;
	overflow: scroll;
	height: calc(100% - 5px);
	white-space: nowrap;
}
#blueprint-outliner .outline-root ul {
    list-style: none;
    width: auto;
	margin-left: 15px;
}
#blueprint-outliner .outline-root li {
    width: auto;
}
#blueprint-outliner .outline-root li .toggle {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("../media/jsTreeSprites.svg");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 7px -8px;
	-webkit-transform: translateZ(0) rotate(90deg);
	-webkit-transition: -webkit-transform 190ms cubic-bezier(.01, .91, 0, .99);
}
#blueprint-outliner .outline-root li .toggle.colapsed {
	background-position: 4px -8px;
	-webkit-transform: translateZ(0);
	-webkit-transition: -webkit-transform 90ms cubic-bezier(.01, .91, 0, .99);
}
#blueprint-outliner .outline-root li .toggle.no-childs {
	pointer-events: none;
	background: transparent;
}


#blueprint-outliner .outline-root li .line {
	line-height: 20px;
	font-size: 15px;
	color: #cccccc;
}
/*default like js*/
#blueprint-outliner .outline-root li .line .type { color: #888888; }
#blueprint-outliner .outline-root li .line .name { color: #6eb5d4; }
#blueprint-outliner .outline-root li .line .params .type { color: #888888; }
#blueprint-outliner .outline-root li .line .params .name { color: #d0d46e; }
#blueprint-outliner .outline-root li .line .return { color: #888888; }
/*js*/
/*php*/
#blueprint-outliner .outline-root li .line .extends { color: #888888; }
#blueprint-outliner .outline-root li .line .extends .base-class { color: #d0d46e; }
#blueprint-outliner .outline-root li .line .implements { color: #888888; }
#blueprint-outliner .outline-root li .line .implements .interface { color: #d0d46e; }

/*python*/
/*css*/
#blueprint-outliner .outline-root[type="css"] li .line .id { color: #d0d46e; }
#blueprint-outliner .outline-root[type="css"] li .line .class { color: #6eb5d4; }
#blueprint-outliner .outline-root[type="css"] li .line .tag { color: #888888; }
#blueprint-outliner .outline-root[type="css"] li .line .querryType { color: #d0d46e; }
/*html*/
#blueprint-outliner .outline-root[type="html"] li .line .tag { color: #888888; }
#blueprint-outliner .outline-root[type="html"] li .line .id { color: #d0d46e; }
#blueprint-outliner .outline-root[type="html"] li .line .class { color: #6eb5d4; }

/*
#blueprint-outliner .outline-root li .typeImage {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}
	#blueprint-outliner .outline-root li .typeImage.class {
		color: #adb9bd;
		background: #42671c;
	}
	#blueprint-outliner .outline-root li .typeImage.proto {
		color: #adb9bd;
		background: #42671c;
	}
	#blueprint-outliner .outline-root li .typeImage.module {
		color: #adb9bd;
		background: #42671c;
	}
	#blueprint-outliner .outline-root li .typeImage.func {
		color: #adb9bd;
		background: #42671c;
	}
*/




#blueprint-outliner .cm-variable,
#blueprint-outliner .cm-variable-2,
#blueprint-outliner .cm-variable-3,
#blueprint-outliner .cm-operator,
#blueprint-outliner .cm-meta,
#blueprint-outliner .cm-bracket {

}
#blueprint-outliner .cm-comment {
}
#blueprint-outliner .line-number {}
